.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    align-items: center;
    border-radius: 18px;
    background-color: #ffe6d2;
    position: relative;
    height: 300px;
    width: 270px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border: solid 3px rgba(229, 153, 46, 0);
    transition: all 100ms;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    transform: scale(1.08);
    border: solid 2px #8e1300;
    transition: 100ms;
    z-index: 1;
    position: relative;
}

.image {
    width: 170px;
    height: 170px;
    aspect-ratio: 2/3;
    border-radius: 10px;
    border: solid 2px #8e1300b9;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info h3 {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
    width: 230px;
}

.title {
    width: 250px;
}

.diets {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


