.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    align-items: center;
    border-radius: 18px;
    background-color: #ffe6d2;
    position: relative;
    height: 450px;
    width: 350px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border: solid 3px rgba(229, 153, 46, 0);
    transition: all 100ms;
}

.card:hover {
    transform: rotate(-1deg);
    border: solid 2px #8e1300;
    transition: 100ms;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: solid 2px #8e1300b9;
}

.info {
    display: flex;
    align-items: center;
	justify-content: center;
    flex-direction: column;
}

.title {
    width: 250px;
}

.diets {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container {
    display: flex;
	justify-content: center;
	align-items: center;
}
